@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 min-h-screen antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
